* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BG_Gradient: #ff142f, #ff00cc, #8400ff, #296dff, #00eeff, #00ff62, #9dff3c, #e8ff36, #ff9a34, #ff4747;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9f9f9;
    min-height: 100vh;
    position: relative;
    background: transparent;
    overflow-x: hidden;
}

.cvv-area-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, var(--BG_Gradient));
    background-size: 300% 300%;
    animation: moveGradient 10s ease infinite;
    filter: blur(60px);
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.25);
    width: 75%;
    max-width: 7000px;
    padding: 30px;
    text-align: center;
    margin: 40px auto;
    animation: fadeIn 1.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

header {
    margin-bottom: 25px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.4);
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 6px;
}

header p {
    color: #aeefff;
    font-weight: 500;
    letter-spacing: 1px;
}

section {
    margin: 20px 0;
    text-align: left;
}

h2 {
    color: #00ffff;
    margin-bottom: 10px;
    border-left: 4px solid #ff00ff;
    padding-left: 8px;
    font-size: 1.2rem;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

th {
    background: rgba(255, 255, 255, 0.1);
    color: #00ffff;
}

td {
    background: rgba(255, 255, 255, 0.05);
}

a {
    color: #00ffff;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
    color: #ff6a00;
}

li Custom_Tag{
    color: #00ffff;
}